<html>
  <head>
    <title>
      ESS - Registration Form
    </title>
    <link rel="stylesheet" href="../static/CONSOLE/css/app.css">
    <link rel="stylesheet" href="../static/CONSOLE/css/foundation.css">
    <link rel="stylesheet" href="../static/CONSOLE/css/foundation.min.css">
  </head>

  <body>
    <div class="large-4 columns large-centered">
      <h1 class="test-header">Hi ... I am the registration form page.</h1>
    </div>


    <script src="../static/CONSOLE/javascript/foundation.js"></script>
    <script src="../static/CONSOLE/javascript/foundation.min.js"></script>
    <script src="../static/CONSOLE/javascript/jquery.js"></script>
    <script>
      $(document).foundation();
    </script>


  </body>


</html>
